:root {
  --canvas-background-main: #464646;
  --canvas-background-second: #57a34d;
  --purple-light: #7700ff;
  --purple-dark: #4d00a5;
  --background-main: #161616;
  --blue-light: #299eff;
  --blue-dark: #0075d4;
  --transition-time: 0.4s;
  --shadow-radius: 25px;
}

h1 {
  color: #ffffff;
  margin-top: 40px;
  position: relative;
  width: auto;
  height: auto;
  font-size: 5rem;
  cursor: default;
  animation: colorShift 13s ease infinite forwards;
}

h4 {
  color: #ffffff;
}

body {
  background-color: var(--background-main);
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Audiowide';
  letter-spacing: 1.5px;
}

ul {
  padding: 0px;
}

.li-btn,
button {
  text-align: center;
  cursor: pointer;

  border-radius: 15px;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 15px;
  font-family: inherit;
}

li {
  list-style-type: none;
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.li-btn {
  font-size: 2rem;
  font-weight: 600;
  list-style-type: none;
  margin: 10px 0;
  transition-duration: var(--transition-time);
  background-color: var(--blue-dark);
  padding: 10px 15px 10px;
}

.li-btn:hover {
  box-shadow: 0 0 var(--shadow-radius) var(--blue-light);
  background-color: var(--purple-light);
  color: #ffffff;
  transition-duration: var(--transition-time);
  background-color: var(--blue-light);
}

.li-label :hover {
  color: var(--purple-dark);
  transition-duration: var(--transition-time);
}

.li-btn-menu {
  font-size: 1.5rem;
  left: 1%;
  position: absolute;
}

.li-btn-tutorial-prev {
  font-size: 1.5rem;
  right: 9%;
  position: absolute;
}

.li-btn-tutorial-next {
  font-size: 1.5rem;
  right: 1%;
  position: absolute;
}

.img-tutorial {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.video-tutorial {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-main {
  z-index: 11;
}

.container-git-link {
  display: flex;
  width: 100%;
  white-space: nowrap;
  /* z-index: 11; */
  position: relative;
  margin-top: 5%;
  justify-content: center;
}

.container-git-label {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 20px;
  opacity: 0.4;
  justify-content: flex-end;
}

.git-logo-label {
  width: 40px;
  height: 40px;
}

.btn-start {
  font-size: 5.5rem;
  font-weight: 600;
  margin: 30px 0;
  background-color: var(--purple-dark);
  padding: 20px 30px 20px;
}

.btn-start:hover {
  box-shadow: 0 0 var(--shadow-radius) var(--purple-light);
  background-color: var(--purple-light);
  color: #ffffff;
  transition-duration: var(--transition-time);
}

.container-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas {
  position: absolute;
}

.canvas-background-second {
  background-color: var(--canvas-background-main);
}

.background-main {
  background-color: var(--background-main);
}

@keyframes colorShift {
  0% {
    color: #4d00a5;
  }
  10% {
    color: #5700b9;
  }
  20% {
    color: #5e00ca;
  }
  30% {
    color: #6600db;
  }
  40% {
    color: #6d00eb;
  }
  50% {
    color: #7700ff;
  }
  60% {
    color: #8010ff;
  }
  70% {
    color: #8923ff;
  }
  80% {
    color: #9539ff;
  }
  90% {
    color: #9d48ff;
  }
  100% {
    color: #5500b6;
  }
}
